<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1>Nuevo pedido</h1>

          <form action="/tasks/{{task._id}}/statusComment" method="post">
            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="title"
                placeholder="Title"
                value="{{task.title}}"
              />
            </div>

            <div class="mb-3">
              <textarea
                class="form-control"
                name="description"
                rows="3"
                placeholder="Agregar Cantidad"
              >{{task.description}}</textarea>
            </div>
            <div class="mb-3">
              <textarea
                class="form-control"
                name="comentarioPedido"
                rows="3"
                placeholder="Agrega un comentario al Pedido"
              disabled>{{task.comentarioPedido}}</textarea>
            </div>
            {{!-- {{#if (eq task.comentarioPedido "Pedir")}} --}}
            <button class="btn btn-success" type="submit">Pedir</button>
            {{!-- {{else}}
            <button class="btn btn-primary" type="submit">Listo</button>
            {{/if}} --}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>